.dashboard-container {
  display: flex;
  height: 100vh;
}
.sidebar-container {
  flex: 20%;
  background-color: #fff;
}
.main-container {
  flex: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: dodgerblue;
}
/* header {
} */
.dashboard-analysis {
  background-color: #e5eff4;
  height: 100vh;
}
