* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f5f5f2;
  color: #000000;
}

/* img {
  max-width: 100%;
} */

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
ul {
  list-style: none;
}
/* HEADER */
header {
  display: flex;
  gap: 1rem;
  padding: 20px;
}
.logo-text {
  text-transform: uppercase;
  font-family: "Roboto";
}
/* HEADER */

/* HERO */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  gap: 2rem;
}

.left-hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.bike {
  width: 250px;
  height: 250px;
  align-self: center;
}
.left-hero-title {
  /* max-width: 550px; */
  font-size: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.left-hero-desc {
  font-family: DM Sans;
  font-size: 14px;
  /* max-width: 460px; */
  font-weight: 400;
  line-height: 20px;
  opacity: 0.4;
  margin: 1rem 0;
}
.left-hero-btn,
.account-btn {
  border: none;
  border-radius: 10px;
  background: #053582;
  padding: 13px 23px;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
#left-hero-btn {
  max-width: max-content;
  align-self: center;
}
.right-hero {
  max-width: 512px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 3px -5px 40px 0px rgba(205, 205, 212, 0.1);
  padding: 48px;
}
progress {
  width: 100%;
}
/* FORM */
.basic-info {
  margin-bottom: 1rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.name {
  display: flex;
  gap: 1rem;
}
.name input {
  width: 100%;
}
.password-wrapper {
  position: relative;
}
.password {
  width: 100%;
}
.eye {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
input {
  border-radius: 10px;
  border: 1px solid #e2e2ea;
  background: #fff;
  height: 48px;
  padding: 12px;
}

.account-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-text {
  margin-left: 1.5rem;
}
/* HERO */

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .name {
    flex-direction: column;
  }
  .left-hero-title {
    font-size: 20px;
  }
  .term-condition {
    font-size: 0.85rem;
  }
  .account-section {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
  #reg-btn {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .hero-container {
    padding: 10px 20px;
  }
}
@media (max-width: 300px) {
  .right-hero {
    padding: 30px;
  }
}
